.containerTecnologias {
    background-image: url('../AboutMe/assets/fondoAboutMe.svg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    width:100%;
    height: 100%;
  }


  .titleTecnologias{
    font-size: 30px;
    font-size: 70px;
    margin-bottom: 100px;
  }

  .sectionTitle{
    text-align: center;
    transform: translateY(100px);
  }


  .imgTecnologia{
    width:120px;
    height: 120px;
    margin: 20px;
  }



  .tecnologias{
    background:linear-gradient(135deg,rgba(30, 29, 29, 0.1), rgba(17, 17, 17, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: solid 1px rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 10px;
    color:black;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: 200px;
    margin-top: 200px;
    width: 100%;
    height:100%;
    flex-wrap: wrap;
  }

  @media(max-width: 500px){
    .titleTecnologias{
      font-size:40px;
    }
  }