.navbar{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background:black;
    height: 100px;
    position: fixed;
    width:100%;
    z-index: 1;
    align-items: center;
}

.nav_items a{
    margin: 15px;
    position: relative;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(193, 191, 191);
    padding:10px;
    border-radius: 20px;
    transition: 0.5s;

}

.nav_items a:hover{
    background-color: white;
    color: black;
}




.nav-toggle{
    display: none;
}

.togglw{
    display: none;
}


@media(max-width: 893px){
    .nav_items{
        position: absolute;
        top:100px;
        left:0;
        margin-left: 10px;
        display: flex;
        padding:10px;
        flex-direction: column;
        width: 50%;
        height: -webkit-fill-available;
        transform:translateX(-100%);
        transition:0.3s ease all;
    }
    
    .togglw{
        display:flex !important;
        flex-direction: column;
        margin: 15px;
        cursor: pointer;
    }   
    
    .nav_items a{
        color: white;
        background: black;
    }

    .nav_items.open{
        transform: translateX(0) !important;
    }
    .logo{
        width:200px;
    }

}

